

#triTop {
font-size: 0px; line-height: 0%; width: 0px;
border-top: 150px solid gray;
border-left: 150px solid #f6f6f6;
position: absolute;
right: 0;
top: 0;
}

.container {
	background-image: url("pexels-photo-1103970.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	
	padding: 5px;
	text-align: center
}

.container h1 {
	font-size: 2.2rem;
}

.container .lead {
	font-size: 1.5rem;

}

.card {
	border-style:groove;
  background: rgb(255, 255, 230, 0.5);
	border-color: white;
	border-size: 1.5px;
	width: 92%;
	height: 250px;
	padding: 10px;
	margin: 5%;
}
/*
.cardLine1 .card,
.cardLine2 .card {
	margin: 10px;
	display: inline-block;
	float: left;
}

.cardLine2 .card {
	width: 35%;
}

.cardLine1 {
margin-left: 10%;
}

.cardLine2 {
	margin-left: 30%;
}
*/
#footer {
	clear: both;
  position: absolute;
  bottom: -15px;
  	background-image: url("pexels-photo-1103970.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
    max-width: 9000px;
   text-align: center;
   font-size: 1.5rem;
   line-height: 90%;
}

#triBot {
font-size: 0px; line-height: 0%; width: 0px;
border-bottom: 150px solid gray;
border-right: 150px solid #f6f6f6;
position: absolute;
left: 0;
bottom: 0;	
}
.card-title {
	 font-size: 1.8rem;
	 margin-top: -10px;
	 margin-bottom: -10px;
}	

.card-text {
	 font-size: 1.5rem;
	 margin-bottom: 0px;
}
#btn-primary-1 {
	font-size: 1.2rem;
}