body {
	font-family: 'Dosis', sans-serif;
}

#triTop {
font-size: 0px; line-height: 0%; width: 0px;
border-top: 150px solid gray;
border-left: 150px solid #f6f6f6;
position: absolute;
right: 0;
top: 0;
}

.container {
	background-image: url("pexels-photo-1103970.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	
	padding: 5px;
	text-align: center
}

.container h1 {
	font-size: 3rem;
}

.container .lead {
	font-size: 2rem;

}

.card {
	border-style: groove;
  background: rgb(255, 255, 230, 0.5);
	border-color: white;
	border-size: 1.5px;
	width: 92%;
	height: 40%;
	padding: 10px;
	margin: 5%;
	font-weight: 600;
}

#footer {
	clear: both;
  position: absolute;
  bottom: -15px;
  	background-image: url("pexels-photo-1103970.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
    max-width: 9000px;
   text-align: center;
   font-size: 1.5rem;
   line-height: 90%;
}

#triBot {
font-size: 0px; line-height: 0%; width: 0px;
border-bottom: 150px solid gray;
border-right: 150px solid #f6f6f6;
position: absolute;
left: 0;
bottom: 0;	
}
.card-title {
	 font-size: 2.5rem;
	 margin-top: -10px;
	 margin-bottom: -10px;
	 text-align: center;
}	

.card-text {
	 font-size: 2.2rem;
	 margin-bottom: 0px;
}
#btn-primary-1 {
	font-size: 2rem;
}